h1, h2, h3, h4, h5, h6{
    font-weight: bold;
}


a{
    color: red;
    text-decoration: none;
}
a:hover{
    color: blue;
}


#header{
background-color: blue;
height: 100px;
}

#main-nav li{
    display: inline-block;
    background-color: black;
    height: 10px;
    margin-left: -4px;
    padding: 5px;
    width: calc(100% / 3 - 10px);
}

header li:hover {
    background-color: grey;
}
#header li:hover a {
    color: white;
}



#prima-section{
    padding: 50px;
    background-image: url(img.jpg);
    background-position: 100px 0;
    background-size: auto; /* oppure cover per adattarla */
    background-repeat: no-repeat;
    
}




