
h3{
    background-color: green;
    color: white;
}


.container{
    display: flex;
}

.blocco{
    border: 1px solid brown;
    background-color: yellow;
    font-size: 4em;
    height: 200px;
    width: 200px;
}
#n3{
    flex-direction: column;
    height: 500px;
}

#n4{

    flex-direction: column;
    height: 500px;
    flex-wrap: wrap;

}

#n5{

flex-direction: row;
flex-wrap: wrap;

}

/* justify*/

#n6{

    justify-content: flex-end;
}
#n7{
    justify-content: space-between;
}

#n8{
    justify-content: space-evenly;
}

#n9{
    align-items: flex-end;
}

#n9 .blocco:nth-of-type(1){
    align-items: flex-end;
    height: 100px;

}

#n10{
    align-items: stretch;
    height: 400px;
}

#n10 .blocco{
    
    height: auto;

}

#n10 .blocco:nth-of-type(3){
    order: -1;

}

/*flex-grow*/

#n11 .blocco{
    flex-grow: 1;
   
}

#n11 .blocco:nth-of-type(2){
    flex-grow: 2;
   
}

#n11 .blocco:nth-of-type(3){
    flex-grow: 2;
   
}


#n11 .blocco:nth-of-type(3){
    flex-shrink: 0.5;
   
}

#n12 .blocco{
    flex-basis: 25%;
   
}

