thead{
    text-align: center;
    background-color: black
    
}
thead:hover{
    background-color: whitesmoke;
}

tbody{
    text-align: center;
    background-color: blue;
}
tbody:hover{
    background-color: ghostwhite;
}


